Source: effectv
Section: graphics
Priority: optional
Maintainer: FUKUCHI Kentarou <fukuchi@users.sourceforge.net>
Build-Depends: libsdl1.2-dev
Standards-Version: 3.2.1

Package: effectv
Architecture: i386
Depends: ${shlibs:Depends}
Description: TV application with many effects.
 EffecTV is a real-time video effect processor. You can enjoy movies,
 TV programs and any other video stream through the many amazing effects. 
 It uses SDL and runs on X11 and Linux frame buffer device.
